<div *appExchangeRates="let rate from myRates autoplay 'on' duration 4000; controller as ctrl;"
(mouseenter)="cPrev.show();cNext.show()" (mouseleave)="cPrev.hide();cNext.hide()">
  <button mat-button (click)="ctrl.prev()" appHidden #cPrev="hc">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{rate.value | currency:rate.currency: 'symbol-narrow'}}</span>
  <button mat-button (click)="ctrl.next()" appHidden #cNext="hc">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
