<app-header [t]="title" [d]="drawerSidenav"></app-header>
<app-sidebar (setSidenavControl)="setSidenav($event)">
  <ng-template #sampleContent let-title let-description="subtitle">

    <mat-form-field appearance="fill">
      <input matInput placeholder="Input" #searchEl>
    </mat-form-field>

    <mat-checkbox (change)="toggleOnlyFavorites($event)" color="primary">Show favorite!</mat-checkbox>

    <mat-grid-list *ngIf="products$ | async as products; else loader" cols="4" rowHeight="500">
      <mat-grid-tile *ngFor="let product of products$ |  async | productsFilter:searchEl.value:onlyFavorites; let isOdd = odd">
        <app-product-card [product]="product" [isOdd]="isOdd">
        </app-product-card>
      </mat-grid-tile>
    </mat-grid-list>

  </ng-template>
</app-sidebar>

<ng-template #loader>
  <div class="loader-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
